.card-col {
    @include media-breakpoint-down(md) {
        margin-bottom: 30px;
    }
}
.card {
    display: flex;
    flex-direction: column;
    .card-img {
        height: 315px;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .card-tag {
        position: absolute;
        left: 20px;
        writing-mode: vertical-lr;
        background-color: $primary;
        color: white;
        letter-spacing: 5px;
        padding: 16px 10px;
    }
    .card-icon {
        position: absolute;
        top: 20px;
        right: 22px;
    }
    .bi {
        font-size: 24px;
    }
    .item-body {
        border: 1px solid $primary-200;
    }
    .item-name,
    .item-price {
        padding: 14px 0;
        color: black;
        font-size: $font-size-lg;
    }
    .item-name {
        border-right: 1px solid $primary-200;
    }
}
